<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Summer Market</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <h1>Add new product form</h1>
    <!-- POST [http://localhost:8189/summer/]products/add?title=cola&price=100   -->
    <form method="post" th:action="@{/products/add}">
        <input type="text" name="title">
        <input type="number" name="price">
        <button class="btn btn-primary" type="submit">Create product</button>
    </form>
    <a class="btn btn-primary" th:href="@{/nav}">To Navigation Page</a>
</div>
</body>
</html>